<div class="Wrapper">
    <div class="bannerWrapper centerText lightBg">
        <div class="smallRight">
            <h2>Projects</h2>
        </div>
        <div class="bigLeft">
            Here you will find examples of the projects I've made and what I am currently working on.
        </div>
    </div>
    <div class="bannerWrapper centerText lightBg" style="background-image: url('assets/trovianBack.png'); background-size: cover; background-position: center;">
        <div class="smallLeft">
            <h2>Web <br> Strategy <br> Game</h2>
        </div>
        <div class="bigRight">
            I am creating a browser-based strategy game similar to a game I used to play as a child, called Travian. The frontend is made with Angular and backend with Django and the project will be hosted on AWS.
            During this project I have already learnt a great deal about both front- and backend development and I am learing more every day. 
            Angular's component system and Djangos excelent database management capabilities are in my opinion perfect for a project like this. <br> <br>
            I am keeping it as a private repository for now, so no code will be available at this time.
        </div>
        <img src="assets/workingOn.png" alt="currently working on this" style="position: absolute; top: 0; left: 0;">
    </div>

    <div class="bannerWrapper centerText lightBg" style="background-image: url('assets/personalBack.png'); background-size: cover; background-position: center;">
        <div class="smallRight">
            <h2>Personal Website</h2>
        </div>
        <div class="bigLeft">
            This site was a quick project to more easily display what I am currently working on. 
            Angular frontend was probably a bit of an overkill for a simple website like this but I do have some plans that might need the capabilites it provides.
            <div class="centerBtnWrapper">
                <button class="navbarButton">View code</button>
            </div>
        </div>
    </div>
    <div class="bannerWrapper centerText lightBg">
        <div class="smallLeft">
            <h2>Other <br> projects <br> on Github</h2>
        </div>
        <div class="bigRight">
            More of my work can be found on github. There are projects ranging from game development to web scraping and simple python scripts.
            <div class="centerBtnWrapper">
                <button class="navbarButton">Github</button>
            </div>
        </div>
    </div>
    <app-contact></app-contact>
    <div id="footer" class="darkBg" style="width: 100%; text-align: center;">
        © 2021 Lauri Rantasalo
      </div>
</div>