<div class="Wrapper">
    <div class="darkBg topBanner">
        <div id="topLeft">
            <img class="personal-img" src="assets/personalPhoto.jpg" alt="Lauri Rantasalo">
        </div>
        <div id="topRight">
            <article class="img-info">
                <h2>Lauri Rantasalo</h2>
                <h3>ICT engineering student</h3> <br> <br> <br>
                <p>Age: 24</p> <br> <br>
                <p>Location: Turku, Finland</p> <br> <br>
                <p>Email: Rantasalo.Lauri@gmail.com</p>
                <div class="centerBtnWrapper">
                    <button class="navbarButton">Contact</button>
                </div>
            </article> <br><br> <br> <br>
        </div>
        <div class="socialMediaWrapper">
            <img src="assets/GitHub-Mark-64px.png" style="height: 48px; width: 48px; padding: 10px;" alt="Github">
            <img src="assets/LI-In-Bug.png" style="height: 48px; width: 48px; padding: 10px;" alt="Linked in">
        </div>
    </div>
    <div class="bannerWrapper centerText lightBg">
        <div class="smallLeft">
            <h2>Welcome</h2>
        </div>
        <div class="bigRight">
            I am Lauri Rantasalo, a soon-to-be information and communications technology engineer.
            I've always been interrested in all things technology and have been learning coding since I was 15 years old. Currently I study in Turku University of Applied Sciences, 
            but now I am searching for a job to do adjacent to what little studies I have left.
            In this site you will find out about my skillsets and also see examples of projects I've made. <br> <br>
            Enjoy and I hope to hear from you soon!
        </div>
    </div>

    <div class="bannerWrapper centerText darkBg">
        <div class="smallRight">
            <h2>résumé</h2>
        </div>
        <div class="bigLeft">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            <div class="centerBtnWrapper">
                <button class="navbarButton">View</button>
                <button class="navbarButton">Download</button>
            </div>
        </div>
    </div>

    <div class="bannerWrapper centerText lightBg">
        <div class="smallLeft">
            <h2>Current</h2>
             <h2>Projects</h2>
        </div>
        <div class="bigRight">
           Go and see my current and previous projects ranging from web development to simple python scripts and more!
            <div class="centerBtnWrapper">
                <button class="navbarButton">View</button>
            </div>
        </div>
    </div>
    <app-contact></app-contact>
    <div id="footer" class="darkBg" style="width: 100%; text-align: center;">
        © 2021 Lauri Rantasalo
      </div>
</div>