
.Wrapper{
    width: 100%;
    text-align: center;
}
.bannerWrapper{
    height: auto;
    position: relative;
}
.comingSoonBanner{
    position: absolute;
    margin:auto;
    bottom: 50%;
    background-color: rgba(255, 0, 0, 0.473);
    width: 100%;
    
}
.darkBg{
    background-color: #3D3D3D;
    color: white;
}
.lightBg{
    background-color: #ECE9E1;
    color: black;
}
.navbarButton{
    float: top;
    color: black;
    border-radius: 25px;
    margin: 1%;
    padding-right: 3%;
    padding-left: 3%;
    min-width: 10%;
    height: 35px;
}
input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical
}

/* Add a background color and some padding around the form */
.container {
    text-align: left;
    border-radius: 5px;
    padding: 20px;
} 

@media only screen and (min-width: 1000px){
    .bannerWrapper{
        height: 500px;
        position: relative;
    }
    .comingSoonBanner{
        position: absolute;
        margin:auto;
        bottom: 50%;
        background-color: rgba(255, 0, 0, 0.473);
        width: 100%;
        
    }
    
    .centerText{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
        font-size: larger;
    }
    .navbarButton{
        float: top;
        color: black;
        border-radius: 25px;
        margin: 1%;
        min-width: 10%;
        height: 35px;
    }
    .contactFormWrapper{
        display: flex;
        width: 100%;
    }
    #contactFieldsWrapper{
        width: 50%;
        float: right;
    }
    .contactText{
        width: 50%;
    }

    
    input[type=text], select, textarea {
        width: 100%; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
    }
    
    .container {
        text-align: left;
        border-radius: 5px;
        padding: 20px;
    } 
}