<div class="Wrapper" >
    <div class="bannerWrapper contactFormWrapper darkBg">
            <div class="contactText centerText">
                Contact me
            </div>
            <div id="contactFieldsWrapper">
                <div class="container">
                    <form action="">
                
                        <label for="emailField">Email</label>
                        <input type="text" id="emailField" placeholder="Your email..">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject"placeholder="Subject..">
                        
                        <label for="subject">Text</label>
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                    
                        <input type="submit" value="Submit" class="navbarButton">
                
                    </form>
                </div> 
            </div>
            <div class="comingSoonBanner">
                <p>COMING SOON</p>
            </div>
        </div>
</div>